/*the font is  arvo and the colors are variants of pink and yellow*/
body {
    font-family: 'Arvo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}
/* Header stuff here*/
header {
    background-color: #F5F5F5;
    padding: 1rem 2vw;
}
header h1 {
    margin: 0;
    color: #363062;
}
header p {
    margin: 0;
    color: #363062;
    letter-spacing: .5px;
}

/*nav stuff goes here*/
nav{
    background-color: #F99417;
}
nav ul{
    list-style-type: none;
    padding: 0 2vw;
    margin: 0;
    display: flex;
}
nav a { 
    font-size: 1.1rem;
    text-decoration: none;
    color: #363062;
    font-weight: 400;
    display: block;
    padding: 0.83rem 2rem;
}
nav li.active a{
    background-color: #F5F5F5;
    color: #363062;
}
nav a:hover {
    color: white; 
}

/*stuff for the main*/
main{
    padding: 1rem 2vw;
}

main h1 {
    color: #363062;
}
main h2 {
    color: #363062;
    margin-bottom: .2rem;
}
main p {
    color: black;
    margin: 0 0 .3rem 0;
}

main dl dt {
    color: #363062;
    font-weight: 400;
}
main dl dd{
    color: black;
    font-size: .9rem;
}

main ol {
    padding: .5rem 3vw;
    color: black;
}
main ul {
    list-style-type: circle;
    color: black;
    
}
main ul li {
    line-height: 125%;
    margin-bottom: .5rem;
}

main address{
    font-style: normal;
    background-color: #F5F5F5;
    padding: .5rem;
    width: 12.5rem;
    border: 1px solid #363062;
    border-radius: .5rem;
}
main a{
    color: #363062;
}
main a:hover {
    color: #F2DA5E;
}

figure.wrapped {
    width: 30%;
    margin: 0 0 0 2%;
    float: right;
}

figure.wrapped img {
    width: 100%;
    height:auto;
}

figure.wrapped figcaption {
    text-align: center;
    font-size: .75rem;
}

div.gallery {
    display: flex;
    flex-wrap: wrap;
    
}

div.gallery figure {
    margin: .5rem 2% 0 0;
}
div.gallery figcaption {
    text-align: center;
    font-size: .8rem;
}


.myForm fieldset {
    border: 1px solid #363062;
    border-radius: 3px;
    margin-bottom: 1rem;
}

.myForm legend {
    color: #363062;
    font-size: .8rem;
}

.myForm label{
    margin: .5rem;
    
}

.myForm label, .myForm select, .myForm [type=text], .myForm [type=tel], myForm textarea {
    display: block;
    
}

.myForm [type=text], .myForm [type=tel], .myForm select, .myForm textarea {
    
    border: solid 1px #888;
    padding: .3rem;
    width: 250px;
    border-radius: .3rem;
    font-family: 'Arvo', sans-serif;
    font-size: 16px;
}

.myForm textarea {
    height: 6rem;
    
}
.myForm :required {
    background-color: rgba(156,51,53,0.1);
}

.myForm [type=submit] {
    background-color: #363062;
    border: none;
    padding: 1rem 2rem;
    border-radius: 10px;
    color: white;
    margin: 1rem 0 0 1vw;
}







/* Footer stuff here*/

footer{
    background-color: #F99417;
    text-align: center;
    color: #363062;
    padding: 1rem 0;
    font-size: .8rem;
    color: #363062;
}
footer a {
    color:#363062;
}
